In [67]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\snwulu\appdata\local\programs\python\python311\lib\site-packages (1.5.3)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\snwulu\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\snwulu\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\snwulu\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\snwulu\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [68]:
!pip install --upgrade pip

Requirement already satisfied: pip in c:\users\snwulu\appdata\local\programs\python\python311\lib\site-packages (22.3.1)
Collecting pip
  Using cached pip-23.0.1-py3-none-any.whl (2.1 MB)

ERROR: To modify pip, please run the following command:
C:\Users\snwulu\AppData\Local\Programs\Python\Python311\python.exe -m pip install --upgrade pip

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [69]:
import pandas as pd

In [70]:
titanic=pd.read_csv("train.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [71]:
titanic=pd.read_csv("train.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [72]:
titanic.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [73]:
import numpy as np
titanic_cat = titanic.select_dtypes(object)
titanic_num = titanic.select_dtypes(np.number)
print(titanic_cat.head())
print(titanic_num.head())

                                                Name     Sex  \
0                            Braund, Mr. Owen Harris    male
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2                             Heikkinen, Miss. Laina  female
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4                           Allen, Mr. William Henry    male

             Ticket Cabin Embarked
0         A/5 21171   NaN        S
1          PC 17599   C85        C
2  STON/O2. 3101282   NaN        S
3            113803  C123        S
4            373450   NaN        S
   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

In [74]:
print(titanic_cat.head())

                                                Name     Sex  \
0                            Braund, Mr. Owen Harris    male
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2                             Heikkinen, Miss. Laina  female
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4                           Allen, Mr. William Henry    male

             Ticket Cabin Embarked
0         A/5 21171   NaN        S
1          PC 17599   C85        C
2  STON/O2. 3101282   NaN        S
3            113803  C123        S
4            373450   NaN        S

In [75]:
titanic_cat.drop(['Name','Ticket'], axis=1, inplace=True)
print(titanic_cat)

        Sex Cabin Embarked
0      male   NaN        S
1    female   C85        C
2    female   NaN        S
3    female  C123        S
4      male   NaN        S
..      ...   ...      ...
886    male   NaN        S
887  female   B42        S
888  female   NaN        S
889    male  C148        C
890    male   NaN        Q

[891 rows x 3 columns]

In [76]:
titanic_cat.isnull().sum()

Sex           0
Cabin       687
Embarked      2
dtype: int64

In [77]:
titanic_cat.Cabin.fillna(titanic_cat.Cabin.value_counts().idxmax(), inplace=True)

In [78]:
titanic_cat.Embarked.fillna(titanic_cat.Embarked.value_counts().idxmax(), inplace=True)

In [79]:
(titanic_cat.isnull().sum())

Sex         0
Cabin       0
Embarked    0
dtype: int64

In [80]:
!pip install scikit-learn
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
titanic_cat = titanic_cat.apply(le.fit_transform)

Requirement already satisfied: scikit-learn in c:\users\snwulu\appdata\local\programs\python\python311\lib\site-packages (1.2.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\snwulu\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.24.2)
Requirement already satisfied: scipy>=1.3.2 in c:\users\snwulu\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\snwulu\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\snwulu\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.1.0)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [81]:
titanic_num.Age.fillna(titanic_num.Age.mean(), inplace=True)

In [82]:
titanic_num.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [83]:
titanic_num.drop(['PassengerId'], axis=1, inplace=True)

In [84]:
titanic_num.head()

   Survived  Pclass   Age  SibSp  Parch     Fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

In [85]:
titanic_final = pd.concat([titanic_cat,titanic_num],axis=1)

In [86]:
titanic_final.head()

   Sex  Cabin  Embarked  Survived  Pclass   Age  SibSp  Parch     Fare
0    1     47         2         0       3  22.0      1      0   7.2500
1    0     81         0         1       1  38.0      1      0  71.2833
2    0     47         2         1       3  26.0      0      0   7.9250
3    0     55         2         1       1  35.0      1      0  53.1000
4    1     47         2         0       3  35.0      0      0   8.0500

In [87]:
X = titanic_final.drop(['Survived'], axis=1)

In [88]:
Y = titanic_final['Survived']

In [89]:
X_train = np.array(X[0:int(0.80*len(X))])
Y_train = np.array(Y[0:int(0.80*len(Y))])

In [90]:
X_test = np.array(X[int(0.80*len(X)):])
Y_test = np.array(Y[int(0.80*len(Y)):])
len(X_train), len(Y_train), len(X_test), len(Y_test)

(712, 712, 179, 179)

In [91]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [92]:
LR = LogisticRegression()
KNN = KNeighborsClassifier()
NB = GaussianNB()
LSVM = LinearSVC()
NLSVM = SVC(kernel='rbf')
DT = DecisionTreeClassifier()
RF = RandomForestClassifier()

In [93]:
LR_fit = LR.fit(X_train, Y_train)
KNN_fit = KNN.fit(X_train, Y_train)
NB_fit = NB.fit(X_train, Y_train)
LSVM_fit = LSVM.fit(X_train, Y_train)
NLSVM_fit = NLSVM.fit(X_train, Y_train)
DT_fit = DT.fit(X_train, Y_train)
RF_fit = RF.fit(X_train, Y_train)

c:\Users\snwulu\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\snwulu\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [94]:
LR_pred = LR_fit.predict(X_test)
KNN_pred = KNN_fit.predict(X_test)
NB_pred = NB_fit.predict(X_test)
LSVM_pred = LSVM_fit.predict(X_test)
NLSVM_pred = NLSVM_fit.predict(X_test)
DT_pred = DT_fit.predict(X_test)
RF_pred = RF_fit.predict(X_test)

In [95]:
from sklearn.metrics import accuracy_score
print("Logistic Regression is %f percent accurate" % (accuracy_score(LR_pred, Y_test)*100))
print("KNN is %f percent accurate" % (accuracy_score(KNN_pred, Y_test)*100))
print("Naive Bayes is %f percent accurate" % (accuracy_score(NB_pred, Y_test)*100))
print("Linear SVMs is %f percent accurate" % (accuracy_score(LSVM_pred, Y_test)*100))
print("Non Linear SVMs is %f percent accurate" % (accuracy_score(NLSVM_pred, Y_test)*100))
print("Decision Trees is %f percent accurate" % (accuracy_score(DT_pred, Y_test)*100))
print("Random Forests is %f percent accurate" % (accuracy_score(RF_pred, Y_test)*100))

Logistic Regression is 83.798883 percent accurate
KNN is 75.977654 percent accurate
Naive Bayes is 82.681564 percent accurate
Linear SVMs is 50.279330 percent accurate
Non Linear SVMs is 74.301676 percent accurate
Decision Trees is 79.888268 percent accurate
Random Forests is 86.033520 percent accurate

In [96]:
X_train = np.array(X[0:int(0.70*len(X))])
Y_train = np.array(Y[0:int(0.70*len(Y))])

In [97]:
X_test = np.array(X[int(0.70*len(X)):])
Y_test = np.array(Y[int(0.70*len(Y)):])
len(X_train), len(Y_train), len(X_test), len(Y_test)

(623, 623, 268, 268)

In [98]:
LR_fit = LR.fit(X_train, Y_train)
KNN_fit = KNN.fit(X_train, Y_train)
NB_fit = NB.fit(X_train, Y_train)
LSVM_fit = LSVM.fit(X_train, Y_train)
NLSVM_fit = NLSVM.fit(X_train, Y_train)
DT_fit = DT.fit(X_train, Y_train)
RF_fit = RF.fit(X_train, Y_train)

c:\Users\snwulu\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\snwulu\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [99]:
LR_pred = LR_fit.predict(X_test)
KNN_pred = KNN_fit.predict(X_test)
NB_pred = NB_fit.predict(X_test)
LSVM_pred = LSVM_fit.predict(X_test)
NLSVM_pred = NLSVM_fit.predict(X_test)
DT_pred = DT_fit.predict(X_test)
RF_pred = RF_fit.predict(X_test)

In [100]:
from sklearn.metrics import accuracy_score
print("Logistic Regression is %f percent accurate" % (accuracy_score(LR_pred, Y_test)*100))
print("KNN is %f percent accurate" % (accuracy_score(KNN_pred, Y_test)*100))
print("Naive Bayes is %f percent accurate" % (accuracy_score(NB_pred, Y_test)*100))
print("Linear SVMs is %f percent accurate" % (accuracy_score(LSVM_pred, Y_test)*100))
print("Non Linear SVMs is %f percent accurate" % (accuracy_score(NLSVM_pred, Y_test)*100))
print("Decision Trees is %f percent accurate" % (accuracy_score(DT_pred, Y_test)*100))
print("Random Forests is %f percent accurate" % (accuracy_score(RF_pred, Y_test)*100))

Logistic Regression is 81.343284 percent accurate
KNN is 74.253731 percent accurate
Naive Bayes is 80.970149 percent accurate
Linear SVMs is 73.134328 percent accurate
Non Linear SVMs is 71.268657 percent accurate
Decision Trees is 79.850746 percent accurate
Random Forests is 83.955224 percent accurate

In [101]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
seed=0
cv = KFold(n_splits=5,random_state=2, shuffle=True)

In [102]:
def return_score(model,X_train, X_test, y_train, y_test):
   model.fit(X_train, y_train)
   score = model.score(X_test, y_test)
   return score

In [103]:
scores = []

In [104]:
model = LogisticRegression()
for train_index, test_index in cv.split(X,Y):
   X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)
   score = return_score(model,X_train, X_test, y_train, y_test)   
   scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("K-Fold Score: {}".format(np.mean(scores)))

Accuracy score in each iteration: [0.8268156424581006, 0.8212290502793296, 0.8156424581005587, 0.7877094972067039, 0.7877094972067039]
K-Fold Score: 0.8078212290502794

c:\Users\snwulu\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\snwulu\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\snwulu\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\snwulu\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\snwulu\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [105]:
model = KNeighborsClassifier() 
for train_index, test_index in cv.split(X,Y):
   X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)
   score = return_score(model,X_train, X_test, y_train, y_test)   
   scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("K-Fold Score: {}".format(np.mean(scores)))

Accuracy score in each iteration: [0.8268156424581006, 0.8212290502793296, 0.8156424581005587, 0.7877094972067039, 0.7877094972067039, 0.7150837988826816, 0.7206703910614525, 0.7206703910614525, 0.7541899441340782, 0.776536312849162]
K-Fold Score: 0.7726256983240223

In [106]:
model = GaussianNB()   
for train_index, test_index in cv.split(X,Y):
   X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)
   score = return_score(model,X_train, X_test, y_train, y_test)   
   scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("K-Fold Score: {}".format(np.mean(scores)))

Accuracy score in each iteration: [0.8268156424581006, 0.8212290502793296, 0.8156424581005587, 0.7877094972067039, 0.7877094972067039, 0.7150837988826816, 0.7206703910614525, 0.7206703910614525, 0.7541899441340782, 0.776536312849162, 0.7094972067039106, 0.7988826815642458, 0.8044692737430168, 0.7877094972067039, 0.7318435754189944]
K-Fold Score: 0.7705772811918062

In [107]:
model = LinearSVC()    
for train_index, test_index in cv.split(X,Y):
   X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)
   score = return_score(model,X_train, X_test, y_train, y_test)   
   scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("K-Fold Score: {}".format(np.mean(scores)))

Accuracy score in each iteration: [0.8268156424581006, 0.8212290502793296, 0.8156424581005587, 0.7877094972067039, 0.7877094972067039, 0.7150837988826816, 0.7206703910614525, 0.7206703910614525, 0.7541899441340782, 0.776536312849162, 0.7094972067039106, 0.7988826815642458, 0.8044692737430168, 0.7877094972067039, 0.7318435754189944, 0.7374301675977654, 0.7653631284916201, 0.8379888268156425, 0.770949720670391, 0.36312849162011174]
K-Fold Score: 0.7516759776536313

c:\Users\snwulu\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
c:\Users\snwulu\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
c:\Users\snwulu\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
c:\Users\snwulu\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
c:\Users\snwulu\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [108]:
model = SVC(kernel='rbf' )    
for train_index, test_index in cv.split(X,Y):
   X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)
   score = return_score(model,X_train, X_test, y_train, y_test)   
   scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("K-Fold Score: {}".format(np.mean(scores)))

Accuracy score in each iteration: [0.8268156424581006, 0.8212290502793296, 0.8156424581005587, 0.7877094972067039, 0.7877094972067039, 0.7150837988826816, 0.7206703910614525, 0.7206703910614525, 0.7541899441340782, 0.776536312849162, 0.7094972067039106, 0.7988826815642458, 0.8044692737430168, 0.7877094972067039, 0.7318435754189944, 0.7374301675977654, 0.7653631284916201, 0.8379888268156425, 0.770949720670391, 0.36312849162011174, 0.6703910614525139, 0.659217877094972, 0.6201117318435754, 0.6871508379888268, 0.6759776536312849]
K-Fold Score: 0.733854748603352

In [109]:
model = DecisionTreeClassifier()     
for train_index, test_index in cv.split(X,Y):
   X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)
   score = return_score(model,X_train, X_test, y_train, y_test)   
   scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("K-Fold Score: {}".format(np.mean(scores)))

Accuracy score in each iteration: [0.8268156424581006, 0.8212290502793296, 0.8156424581005587, 0.7877094972067039, 0.7877094972067039, 0.7150837988826816, 0.7206703910614525, 0.7206703910614525, 0.7541899441340782, 0.776536312849162, 0.7094972067039106, 0.7988826815642458, 0.8044692737430168, 0.7877094972067039, 0.7318435754189944, 0.7374301675977654, 0.7653631284916201, 0.8379888268156425, 0.770949720670391, 0.36312849162011174, 0.6703910614525139, 0.659217877094972, 0.6201117318435754, 0.6871508379888268, 0.6759776536312849, 0.8212290502793296, 0.770949720670391, 0.8324022346368715, 0.8044692737430168, 0.7877094972067039]
K-Fold Score: 0.745437616387337

In [110]:
model = RandomForestClassifier()    
for train_index, test_index in cv.split(X,Y):
   X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)
   score = return_score(model,X_train, X_test, y_train, y_test)   
   scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("K-Fold Score: {}".format(np.mean(scores)))

Accuracy score in each iteration: [0.8268156424581006, 0.8212290502793296, 0.8156424581005587, 0.7877094972067039, 0.7877094972067039, 0.7150837988826816, 0.7206703910614525, 0.7206703910614525, 0.7541899441340782, 0.776536312849162, 0.7094972067039106, 0.7988826815642458, 0.8044692737430168, 0.7877094972067039, 0.7318435754189944, 0.7374301675977654, 0.7653631284916201, 0.8379888268156425, 0.770949720670391, 0.36312849162011174, 0.6703910614525139, 0.659217877094972, 0.6201117318435754, 0.6871508379888268, 0.6759776536312849, 0.8212290502793296, 0.770949720670391, 0.8324022346368715, 0.8044692737430168, 0.7877094972067039, 0.8268156424581006, 0.8044692737430168, 0.8268156424581006, 0.8212290502793296, 0.8379888268156425]
K-Fold Score: 0.75658419792498